<mat-toolbar class="footer">
  <div class="footer-content">
    <!--<button class="footer-toggle" (click)="showLinks = !showLinks" aria-label="Mostrar contatos" *ngIf="isMobile">Nossos contatos <span [ngClass]="{'open': showLinks}">↑</span></button>
    <ul class="list-links" [ngClass]="{'footer-links-hidden': isMobile && !showLinks}" *ngIf="!isMobile || showLinks">
      <li>
        <a href="https://api.whatsapp.com/send/?phone=551126300417&text=Ol%C3%A1%2C+gostaria+de+fazer+um+pedido%21&type=phone_number&app_absent=0" target="_blank" class="whatsapp">
          <i id="whats" class='bx bxl-whatsapp'></i>
          Nosso Whatsapp
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/santafesuzano/" target="_blank" class="instagram">
          <i id="insta" class='bx bxl-instagram'></i>
          Siga no Instagram
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@santafesuzano" target="_blank" class="tiktok">
          <i id="tiktok" class='bx bxl-tiktok'></i>
          Siga no TikTok
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/santafesuzano" target="_blank" class="facebook">
          <i id="face" class='bx bxl-facebook-square'></i>
          Acompanhe no Facebook
        </a>
      </li>
    </ul>-->
    <div class="footer-divider"></div>
    <div class="footer-copy">&copy; 2025 Santa Fé. Todos os direitos reservados - Feito por David Bissaco Desenvolvedor Fullstack</div>
    <div class="footer-divider"></div>
  </div>
</mat-toolbar>